{% extends "Inicio.html" %}
{% block title %} Reproduccion de Canciones del CSV {% endblock %}
{% block titulo %} Reproduccion de Canciones  del CSV {% endblock %}
{% block content %}

<!-- 1  -->
<div style="text-align: center;">
    <h1>My Chemical Romance </h1>
</div>
<div style="width:800px;">
    <div style="width:300px; float:left;">
        <img src="https://m.media-amazon.com/images/I/81aECQlJWwL._SX466_.jpg " width="300" height="300"/>
    </div>
    <div style="width:300px; float:right;">
        <iframe frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/1w0zZ2AFP9oewPuSvtweaoz6PO8rYqQoT/preview"></iframe>
    </div>
</div>
<!-- 2  -->
<div style="text-align: center;">
    <h1>Cuarteto de Nos</h1>
</div>
<div style="width:800px;">
    <div style="width:300px; float:left;">
        <img src="https://e.snmc.io/i/1200/s/afb947e3c71b75ba78459a5ff097784b/8229990" width="300" height="300"/>
    </div>
    <div style="width:300px; float:right;">
        <iframe frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/15rvbLTJdiatPZuEX-b9nJyfEWfuOnAzi/preview"></iframe>
    </div>
</div>
<!--3-->
<div style="text-align: center;">
    <h1>No quiero ser normal</h1>
</div>
<div style="width:800px;">
    <div style="width:300px; float:left;">
        <img src="https://e.snmc.io/i/1200/s/afb947e3c71b75ba78459a5ff097784b/8229990" width="300" height="300"/>
    </div>
    <div style="width:300px; float:right;">
        <iframe frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/15rvbLTJdiatPZuEX-b9nJyfEWfuOnAzi/preview"></iframe>
    </div>
</div>

{% endblock content %}